<%- include('partials/header') %>
<!-- ======= Carousel ====== (link carousel below)-->

<%- include('partials/header-new') %>


<!-- ======= Modal form ====== -->
<%- include('partials/modal_form') %>

<!-- ======= Toast UI ====== -->
<%- include('partials/toast') %>


<!-- ======= Hero Section ======= -->

<!-- ======= Carousel ====== -->
<!-- ======= Hero Section ======= -->

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1><b>Lorem ipsum</b></h1>
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <h3>lorem ipsum</h3>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <h3>lorem ipsum</h3>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <h3>lorem ipsum</h3>
            </li>
          </ul>
          <div class="mt-3">
            <a href="/register" class="btn-get-quote">lorem ipsum</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img
            src="https://shareplm.com/wp-content/uploads/2020/02/Strategy-Session-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <!-- ======= Team Section ======= -->



  <!-- Highlights -->
 
  
<section class="carousel-cont-sc">
  <h3>
    Opportunities for Women (Highlights)
  </h3>
  <div class="carousel-container first-hm-sc">
  <div class="carousel-inner">
    <div class="track">
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://www.noticebard.com/wp-content/uploads/2018/06/Santoor-Womens-Scholarship-2018.png">
          </div>
          <div class="info">
            <h6>Santoor Women's Scholarship</h6>
            <p class="sc-home-p">
              INR 24,000 p.a. till completion of study (Andhra Pradesh, Karnataka and Telangana) in government institute. <a href="https://www.santoorscholarships.com">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://codeforces.com/predownloaded/ff/03/ff034d9026b9f47b4eeb6d5fdfae80d197c6d383.png">
          </div>
          <div class="info">
            <h6>Code Jam to I/O</h6>
            <p class="sc-home-p">
              2.5 hour, single-round coding competition, top 150 will receive a ticket and reimbursement to offset travel expenses to Google I/O. <a href="https://codingcompetitions.withgoogle.com/codejamio">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://www.indiafilings.com/learn/wp-content/uploads/2019/08/KIRAN-Women-Scientist-Scheme-B.jpg">
          </div>
          <div class="info">
            <h6>Women Scientist Scheme-B (WOS-B)</h6>
            <p class="sc-home-p">
              INR 50,000 per month for women scientists and technologists given by DST, Government of India. <a href="http://online-wosa.gov.in/wosb/">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://upload.wikimedia.org/wikipedia/en/archive/7/7b/20181229060429%21TechnipFMC_PLC_Logo.jpg">
          </div>
          <div class="info">
            <h6>Technip India Limited Scholarship Program</h6>
            <p class="sc-home-p">
               One time scholarship of INR 20,000 p.a. for female students of Chennai, Mumbai, and Delhi pursuing a STEM towards tuition fee. <a href="https://www.technipfmc.com">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://cdn.webexam.in/wp-content/uploads/2018/03/LOréal-India-For-Young-Women-In-Science-Scholarships.jpg">
          </div>
          <div class="info">
            <h6>L’Oréal India Scholarship</h6>
            <p class="sc-home-p">
               Scholarship up to INR 2.5 lacs to meritorious class 12 passed girls (upto age 19) who wish to pursue a STEM career with at least 85% marks in PCM/ PCB. <a href="https://www.loreal.com/en/india/articles/commitments/the-india-for-young-women-in-science-scholarship-programme/">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container sixth-hm-sc">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://lifeandtrendz.com/wp-content/uploads/2016/04/Lara-Dutta-felicitating-scholarship-winners-at-Fair-Lovely-Foundation-..._3.jpg">
          </div>
          <div class="info">
            <h6>Glow & Lovely Scholarship</h6>
            <p class="sc-home-p">
               Scholarship of INR 25,000- INR 50,000 (fixed, one-time award) underprivileged female students to pursue their higher education. <a href="https://www.glowandlovelycareers.in/en/scholarship-for-women">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://www.simplifiedshiksha.com/wp-content/uploads/2020/02/Unnatic-scholaship.jpg">
          </div>
          <div class="info">
            <h6>Rolls-Royce Unnati Scholarships for Women Engineering Students</h6>
            <p class="sc-home-p">
               INR 35,000 to financially support 1st/ 2nd/ 3rd year meritorious girl students incompleting their engineering programme. <a href="https://www.buddy4study.com/page/rolls-royce-unnati-scholarships-for-women-engineering-students">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://www.yosearch.net/wp-content/uploads/2020/04/dr-reddys-foundation-sashakt-scholarship.jpg">
          </div>
          <div class="info">
            <h6>Dr. Reddy’s Foundation Sashakt Scholarship</h6>
            <p class="sc-home-p">
               INR 240,000 scholarship given for 3 years of UG STEM study to girl students coming from rural and backward socio-economic backgrounds. <a href="https://www.sashaktscholarship.org">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://opportunitydesk.org/wp-content/uploads/2019/10/Technovation-Girls.png">
          </div>
          <div class="info">
            <h6>Technovation Competition</h6>
            <p class="sc-home-p">
               $20,000 in awards is distributed to competition winners where teams of upto 5 members are mentored by passionate women who believe in Technovation’s mission. <a href="https://technovationchallenge.org">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="img">
            <img class="sc-home-img" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2020/8/28/w900X450/ap_-_be_funkdy_1.jpg">
          </div>
          <div class="info">
            <h6>Amazon WOW</h6>
            <p class="sc-home-p">
               Diversity hiring for SDE roles by Amazon with competent packages with better career growth and WFH opportunities. <a href="https://womenoftheworld.mettl.com">Read More...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="nav">
      <button class="prev">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="next">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
  <!--- End of highlights---->



<!-- Highlights -->

<script>
  const prev  = document.querySelector('.prev');
    const next = document.querySelector('.next');

    const track = document.querySelector('.track');

    let carouselWidth = document.querySelector('.carousel-container').offsetWidth;

    window.addEventListener('resize', () => {
      carouselWidth = document.querySelector('.carousel-container').offsetWidth;
    })

    let index = 0;

    next.addEventListener('click', () => {
      index++;
      prev.classList.add('show');
      track.style.transform = `translateX(-${index * carouselWidth}px)`;
      
      if (track.offsetWidth - (index * carouselWidth) < carouselWidth) {
        next.classList.add('hide');
      }
    })

    prev.addEventListener('click', () => {
      index--;
      next.classList.remove('hide');
      if (index === 0) {
        prev.classList.remove('show');
      }
      track.style.transform = `translateX(-${index * carouselWidth}px)`;
    })

</script>
  

<%- include('partials/footer') %>

