<%- include('partials/header') %>
<!-- ======= Carousel ====== -->

<%- include('partials/carousel') %>

<!-- ======= Modal form ====== -->
<%- include('partials/modal_form') %>

<!-- ======= Toast UI ====== -->
<%- include('partials/toast') %>


<!-- ======= Hero Section ======= -->

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1><b>Lorem ipsum</b></h1>
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <h3>lorem ipsum</h3>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <h3>lorem ipsum</h3>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <h3>lorem ipsum</h3>
            </li>
          </ul>
          <div class="mt-3">
            <a href="/register" class="btn-get-quote">lorem ipsum</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img
            src="https://shareplm.com/wp-content/uploads/2020/02/Strategy-Session-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <!-- ======= Team Section ======= -->
  
  <%- include('partials/footer') %>

