<%- include('partials/header') %>
<!-- ======= Carousel ====== (link carousel below)-->

<%- include('partials/header-new') %>

<!-- ======= Modal form ====== -->
<%- include('partials/modal_form') %>

<!-- ======= Toast UI ====== -->
<%- include('partials/toast') %>

<!-- ======= Hero Section ======= -->

<!-- ======= Carousel ====== -->
<!-- ======= Hero Section ======= -->
<!-- 
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1><b>Lorem ipsum</b></h1>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            <h3>lorem ipsum</h3>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <h3>lorem ipsum</h3>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <h3>lorem ipsum</h3>
          </li>
        </ul>
        <div class="mt-3">
          <a href="/register" class="btn-get-quote">lorem ipsum</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img
          src="https://shareplm.com/wp-content/uploads/2020/02/Strategy-Session-1.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section> -->
<!-- End Hero -->

<section id="about" class="about" style="background-color: white">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About</h2>
      <p>“I never dreamed about success. I worked for it.” - Estee Lauder</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="fadeInRightBig float-left">
          <h3>
            GirlMeetup
          </h3>
          <p class="font-italic">
            Welcome to GirlMeetup, your number one source for success. We're dedicated to providing you the best of resources & mentorship, with a focus on dependability.
          </p>
          <ul style="list-style: none;">
            <li>
              <i class="fa fa-check-square-o"></i> We're working to turn our passion for success into a booming online community.
            </li>
            <li>
              <i class="fa fa-check-square-o"></i> We guide by sharing experiences, mentorship programs and also enabling student to many opportunities.
            </li>
            <li>
              <i class="fa fa-check-square-o"></i> We hope you enjoy our services as much as we enjoy offering them to you.</li>
          </ul>
          <p>
            Sincerely,
          </p>
          <a href="" class="learn-more-btn">GirlMeetup</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto how-box wow fadeInRightBig">
        <div>
          <img
            src="https://image.freepik.com/free-vector/you-can-change-world-girl-card_106033-120.jpg"
            class="img-fluid"
            height="200px"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Team Section ======= -->

<%- include('partials/footer') %>
